@import url("./assets/fonts/Ubuntu-Regular.ttf");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body{
    display: flex;
    margin: 15px 30px;
}

.sidebar{
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    width: 30vw;
    height: 95vh;
    background-size: contain;
    background-repeat: no-repeat;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #fff;
}

.sidebar-container{
    margin: 50px 40px;
}

.number-one{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
}

.numbering{
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
 }

 .step{
    letter-spacing: 3px;
 }

.uno{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

.heading{
    margin: 50px 0 15px 0;
    font-size: 40px;
    color: hsl(213, 96%, 18%);
}

.paragraph{
    margin-bottom: 50px;
    color: hsl(231, 11%, 63%);
}

label{
    color: hsl(213, 96%, 18%);
}

input{
    width: 50vw;
    height: 50px;
    margin: 5px 0 50px 0;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    opacity: 40%;
}

button{
    position: relative;
    top: 69px;
    left: 580px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(213, 96%, 18%);
    color: #fff;
    border: none;
}

/*media queries*/

@media  screen and (max-width: 390px){
    body{
        flex-direction: column;
        margin: 0;
        height: 100vh;
    }

    .sidebar{
        width: 100%;
        height: 25vh;
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        display: grid;
        place-items: center;    
    }

    .sidebar-container{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-between;
    }

    .info{
        display: none;
    }

    .content{
        background-color: hsl(217, 100%, 97%);
        height: 65vh;
    }

    form{
        width: 85vw;
        margin: auto;
        background-color: #fff;
        position: relative;
        bottom: 70px;
        padding: 20px;
        border-radius: 10px;  
    }

    .heading{
        margin: 10px 0;
    }

    .paragraph{
        margin-bottom: 20px;
    }

    input{
        margin-bottom: 10px;
    }

    .bt-1{
        top: 260px;
        left: 220px;
    }
}