@import url("./assets/fonts/Ubuntu-Regular.ttf");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body{
    display: flex;
    margin: 15px 30px;
}

.sidebar{
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    width: 30vw;
    height: 95vh;
    background-size: contain;
    background-repeat: no-repeat;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.sidebar-container{
    margin: 50px 40px;
}

.number-one{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
}

.numbering{
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
 }

.heading{
    margin: 50px 0 15px 0;
}

.paragraph{
    margin-bottom: 50px;
    color: hsl(231, 11%, 63%);
}

.step{
    letter-spacing: 3px;
}


.next{
    position: absolute;
    bottom: 30px;
    right: 240px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.uno{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

.heading{
    margin: 50px 0 15px 0;
    font-size: 40px;
    color: hsl(213, 96%, 18%);
}


/*main section styles*/

.cards{
    width: 50vw;
    margin-bottom: 50px;
}

.card{
    height: 35vh;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.arcade{
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.change{
    color: hsl(231, 11%, 63%);
}

.change:hover{
    color: hsl(243, 100%, 62%);
    text-decoration: underline;
}

.first{
    font-weight: bold;
}

.selected-plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: self-start;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.selected-plan p{
    margin-bottom: 10px;
}

.online-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: self-start;
}

.online-service p{
    color: hsl(231, 11%, 63%);
}

.larger-storage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.larger-storage p{
    color: hsl(231, 11%, 63%);
}

.total{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}

.price{
    display: flex;
    justify-content: end;
    color: hsl(213, 96%, 18%) !important;
}

.monthly-total{
    color: hsl(231, 11%, 63%);
}

.total-price{
    color: hsl(243, 100%, 62%);
    font-weight: bold;
    font-size: larger;
}

.back{
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: hsl(231, 11%, 63%);
}

.back:hover{
    color: hsl(213, 96%, 18%);
}

.next{
    background-color: hsl(213, 96%, 18%);
    color: #fff;
    border: none;
}

.next:active{
    background-color: hsl(243, 100%, 62%);
}