@import url("./assets/fonts/Ubuntu-Regular.ttf");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body{
    display: flex;
    margin: 15px 30px;
}

.sidebar{
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    width: 30vw;
    height: 95vh;
    background-size: contain;
    background-repeat: no-repeat;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.sidebar-container{
    margin: 50px 40px;
}

.number-one{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
}

.numbering{
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
 }

.heading{
    margin: 50px 0 15px 0;
    color: hsl(213, 96%, 18%);
    font-size: 40px;
}

.paragraph{
    margin-bottom: 50px;
    color: hsl(231, 11%, 63%);
    font-size: 20px;
}

.step{
    letter-spacing: 3px;
}


.next{
    position: absolute;
    bottom: 30px;
    right: 240px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*main section styles*/

.content{
    margin: auto;
}

.icon{
    display: flex;
    justify-content: center;
}

.words{
    
    width: 50vw;
    text-align: center;
}